@* Arquivo: Shared/Footer.razor *@

<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container">
        <div class="row">
            <!-- Sobre -->
            <div class="col-md-6">
                <h5>About</h5>
                <p>
                    This site is for my GitHub repository. It uses C# and Blazor to create a full-stack server and client chat application with WebSocket.
                </p>
            </div>

            <!-- Links -->
            <div class="col-md-6 text-center">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://discord.com/users/joao_2448" class="text-light" target="_blank">
                            <i class="fab fa-discord"></i> Discord
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/joaodacoregio" class="text-light" target="_blank">
                            <i class="fab fa-github"></i> GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="bg-light">

        <!-- Direitos Autorais -->
        <div class="text-center">
            <p class="mb-0">© 2025 João Dacoregio. All rights reserved.</p>
        </div>
    </div>
</footer>
