@inherits LayoutComponentBase
@inject NavigationManager Navigation


 

<div class="d-flex flex-column min-vh-100">
    <NavMenu />

    <main class="flex-grow-1 d-flex align-items-center justify-content-center">
        @Body
    </main>

    <Footer />
</div>