@inherits LayoutComponentBase
@inject NavigationManager Navigation


<div class="page">
    <!--TODO: Criar uma lista de paginas sem sidebar-->
    @if (!Navigation.Uri.Contains("login") && !Navigation.Uri.Contains("register"))
    {
         <div class="sidebar">
            <NavMenu />
        </div>
       
    }


    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
