 
.message-current-user {
    background-color: #90ee90; /* Verde claro */
    text-align: left; /* Alinhamento interno do texto à esquerda */
    margin-left: auto; /* Alinha a mensagem à direita */
    margin-right: 0; /* Remove margem à direita */
    max-width: 70%;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold; /* Negrito */
}

.message-other-user {
    background-color: #d3d3d3; /* Cinza claro */
    text-align: left; /* Alinhamento interno do texto à esquerda */
    margin-right: auto; /* Alinha a mensagem à esquerda */
    margin-left: 0; /* Remove margem à esquerda */
    max-width: 70%;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold; /* Negrito */
}

.message-timestamp {
    font-size: 0.75rem; /* Fonte pequena */
    font-weight: bold; /* Negrito */
    color: gray; /* Cor do texto */
    margin-top: 5px;
    text-align: right;
}

.chat-box {
    width: 75vh;
    height: 70vh;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    position: relative;
}

.info-box {
    display: @(isUsersListVisible ? "block" : "none");
    width: 300px;
    height: 300px;
    top: 50px;
    right: 10px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    z-index: 1040;
}

.chat-input-box {
    margin-top: auto;
    width: 100%;
}

 